<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>

    <title>
      <%= user_name %>@<%= room_name %>
    </title>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/modules/mediasoupclient.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/EventEmitter/5.2.8/EventEmitter.min.js"></script>
    <script src="/js/RoomClient.js"></script>
    <link rel="stylesheet" href="/css/room.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
  </head>

  <body>
    <div id="overlay">
      <button id="text" class="btn btn-primary btn-lg shadow-none" style="margin: 0;
              position: absolute;
              top: 50%;
              left: 50%;
              -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);">회의록을 보시려면 팝업 창을 닫아 주세요!</button>
    </div>

    <!-- The Modal -->
    <div id="subtaskModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <span class="closeModal">&times;</span>
          <h2>실험 지시사항</h2>
        </div>
        <div class="modal-body">
          <p style='font-weight: bold;'>2분 내에 설문 풀기를 시작해주세요</p>
          <p>하단의 설문 풀기 버튼을 클릭하시면, 설문 풀기를 시작할 수 있습니다.</p>
        </div>
      </div>
    </div>

    <!-- Left Layout -->
    <div id="left">
      <!-- Videos -->
      <div id="remote-media">
        <div name="local-media" id="local-media" class="video-container">
          <p class="name-overlay">
            <%= user_name %>
          </p>
          <video id="local-video" autoplay inline></video>
        </div>
      </div>
      <!-- <div name="local-media" id="local-media" class="video-container">
        <p class="name-overlay"><%= user_name %></p>
        <video id="local-video" autoplay inline></video>
      </div> -->

      <!--Map-->
      <!-- <iframe style="border: 1px solid grey; margin: 10px 0px 0px 5px; width: 100%; height: 80%;" src="../map.html"></iframe> -->
      <div class="tab">
        <button id="map-1" class="tablinks btn btn-dark btn-md rounded-top shadow-none"
          onclick="showMap('day1', '../img/myondong-f.jpg'); rc.addUserLog(Date.now(), 'CLICK-DAY1-MAP\n');">명동
        </button>
        <button id="map-2" class="tablinks btn btn-outline-dark btn-md rounded-top shadow-none"
          onclick="showMap('day2', '../img/gangnam-f.png'); rc.addUserLog(Date.now(), 'CLICK-DAY2-MAP\n');">강남
        </button>
        <button type="button" onclick="get_position_of_mousePointer(event); openMap(); overlay_on();" class="btn btn-warning btn-md shadow-none fw-bold"
          style="border: 1px solid black;">검색하기
        </button>
      </div>
      <div id="map-view" class="tabcontent">
        <img id="map-image" style="width: 100%; height: 100%; border: 3px solid black;" src="../img/myondong-f.jpg">

        <div id="foods-list" style="border: 3px solid blue; overflow-y: scroll; overflow-x: hidden;">
          <p style="text-align: center; font-weight: bold; font-size: large;">[음식점/카페]</p>
          <p class="placename">1. 명동거리</p>
          <p class="placename" style="width: 95%; font-size: small; border: 1px solid black; border-radius: 5px; margin: 5px 5px 10px 5px; padding: 5px 5px 5px 5px;">  - 이니스프리 그린카페<br>  - 오설록티하우스<br>  - 맷차<br>  - 명동교자<br>  - 홍만당<br>  - 명동 얼큰수제비<br>  - 곱창떡볶이 화떡<br>  - 명동피자<br>  - 유가네닭갈비<br>  - 미스사이공<br>  - 명동돈가스<br>  - 강남면옥</p>
          <p class="placename">2. 웨스틴조선호텔</p>
          <p class="placename" style="width: 95%; font-size: small; border: 1px solid black; border-radius: 5px; margin: 5px 5px 10px 5px; padding: 5px 5px 5px 5px;">  - 라운지앤바<br>  - 부르리카</p>
          <p class="placename">3. 신세계백화점 본점</p>
          <p class="placename" style="width: 95%; font-size: small; border: 1px solid black; border-radius: 5px; margin: 5px 5px 10px 5px; padding: 5px 5px 5px 5px;">  - 평양면옥<br>  - 큰기와집 한상<br>  - 한우리<br>  - 까사빠보<br></p>
          <p class="placename">4. 북창동 먹자골목</p>
          <p class="placename" style="width: 95%; font-size: small; border: 1px solid black; border-radius: 5px; margin: 5px 5px 10px 5px; padding: 5px 5px 5px 5px;">  - 진대감<br>  - 한가람<br>  - 마르셀<br>  - 화포식당<br>  - 정신라멘<br>  - 속초생태집<br></p>
          <p class="placename">5. 주옥</p>
          <p class="placename">6. 제로컴플렉스</p>
        </div>

        <div id="places-list" style="border: 3px solid red; overflow-y: scroll; overflow-x: hidden;">
          <p style="text-align: center; font-weight: bold; font-size: large;">[관광지]</p>
          <p class="placename">1. 명동거리</p>
          <p class="placename" style="width: 95%; font-size: small; border: 1px solid black; border-radius: 5px; margin: 5px 5px 10px 5px; padding: 5px 5px 5px 5px;">  - 고관스튜디오<br>  - LU42<br>  - 국립근단 명동예술극장<br>  - 원더플레이스<br>  - 명동지하쇼핑센터<br></p>
          <p class="placename">2. 명동성당</p>
          <p class="placename">3. 신세계백화점 본점</p>
          <p class="placename">4. 남대문시장</p>
          <p class="placename">5. 숭례문</p>
          <p class="placename">6. 서울시립미술관</p>
          <p class="placename">7. 덕수궁</p>
          <p class="placename">8. 남산서울타워</p>
          <p class="placename">9. 남산골한옥마을</p>
        </div>
      </div>

      <!-- Bottom Navbar Buttons -->
      <nav id="left-navbar" class="navbar navbar-expand-lg fixed-bottom">
        <div id="media-control" class="container-fluid btn-toolbar d-grid gap-2 d-md-block" role="toolbar">
          <div class="btn-group me-2" role="group">
            <button id="meeting-timer" class="btn btn-outline-secondary btn-md shadow-none disabled">
              <i class="fas fa-hourglass-start"></i>
              남은 회의 시간:
            </button>
            </button>
          </div>
          <!-- invite button -->
          <div class="btn-group me-2" role="group">
            <button id="invite-btn" class="btn btn-outline-success btn-md shadow-none" onclick="copyJoinLink()" hidden>
              <i class="fas fa-users"></i>
              Invite
            </button>
          </div>
          <!-- Video button -->
          <div class="btn-group btn-group-md dropup me-2" role="group">
            <button type="button" class="btn btn-outline-primary btn-md shadow-none mx-auto" id="start-video-button"
              style="display: none"
              onclick="this.disabled = true; rc.produce(RoomClient.mediaType.video, document.getElementById('video-select').value); rc.addUserLog(Date.now(), 'VIDEO-ON\n');">
              <i class="fas fa-video-slash"></i>
              Show Video
            </button>
            <button type="button" id="stop-video-button" style="display: none"
              class="btn btn-outline-primary btn-md shadow-none rounded-start"
              onclick="this.disabled = true; rc.closeProducer(RoomClient.mediaType.video); rc.addUserLog(Date.now(), 'VIDEO-OFF\n');">
              <i class="fas fa-video"></i>
              Hide Video
            </button>
            <button type="button" class="
                btn btn-outline-primary btn-md
                shadow-none
                dropdown-toggle dropdown-toggle-split
              " data-bs-toggle="dropdown" aria-expanded="false">
              <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
              <li>
                <h6 class="dropdown-header">Available Video Sources</h6>
              </li>
              <select id="video-select" class="form-select form-select-sm shadow-none"></select>
            </ul>
          </div>
          <div class="btn-group dropup me-2" role="group">
            <button type="button" id="start-audio-button" style="display: none"
              class="btn btn-outline-primary btn-md shadow-none"
              onclick="this.disabled = true; rc.produce(RoomClient.mediaType.audio, document.getElementById('audio-select').value); rc.addUserLog(Date.now(), 'AUDIO-ON\n');">
              <i class="fas fa-volume-mute"></i>
              Open Audio
            </button>
            <button type="button" id="stop-audio-button" style="display: none"
              class="btn btn-outline-primary btn-md shadow-none rounded-start"
              onclick="this.disabled = true; rc.closeProducer(RoomClient.mediaType.audio); rc.addUserLog(Date.now(), 'AUDIO-OFF\n');">
              <i class="fas fa-volume-up"></i>
              Close Audio
            </button>
            <button type="button" class="
                btn btn-outline-primary btn-md
                shadow-none
                dropdown-toggle dropdown-toggle-split
              " data-bs-toggle="dropdown" aria-expanded="false">
              <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
              <li>
                <h6 class="dropdown-header">Available Audio Sources</h6>
              </li>
              <select id="audio-select" class="form-select form-select-sm shadow-none"></select>
            </ul>
          </div>
          <div class="btn-group me-2" role="group">
            <button id="start-timer" class="btn btn-outline-info btn-md shadow-none" onclick="rc.startTimer()" hidden>
              <i class="far fa-play-circle"></i>
              회의 시작
            </button>
          </div>
          <div class="btn-group me-2" role="group">
            <button id='subtask' type="button" disabled="disabled" onclick="openSubtask(); overlay_on();"
              class="btn btn-danger btn-md shadow-none"
              style="border: 1px solid black; margin-top: 10px; margin-right: 30px; float: right;">설문 풀기
            </button>
          </div>
          <!-- <div class="btn-group" role="group">
            <button
              id="screen-share"
              class="btn btn-outline-primary btn-md shadow-none"
              onclick="startScreenSharing()"
            >
              <i class="fas fa-chevron-up"></i>
              Share Screen
            </button>
          </div> -->
        </div>
      </nav>
    </div>

    <div id="right">
      <div class="border bg-light bg-gradient" id="display-choice">
        <p class="h5" style="margin-bottom: 0.5em; display: inline-block;"><strong>AI Moderator</strong></p>

        <div class="dropdown" style="display: block; margin-top: 5px; float: right;">
          <button style="border-radius: 5px; font-size: smaller;" onclick="showPinBoxes();">
            <i class="fas fa-thumbtack"></i> 고정 <i class="fas fa-caret-down"></i>
          </button>
          <div id="dropdownPin"
            style="z-index: 10; display: none; position: absolute; right: 0; padding: 3px 3px 3px 3px; background-color: lightgray; border-radius: 5px;"
            class="dropdown-pin"></div>
        </div>

        <div style="margin-top: 1em; ">
          <input type="text" id="search-word" placeholder="SEARCH" onkeypress="checkEnter(event);">
          <button type="button"
            onclick="addSearchLog(); displayUnitOfBox(); rc.addUserLog(Date.now(), 'CLICK-SEARCH-BUTTON\n');"
            width="50px"
            style="padding: 3.5px; background-color:yellowgreen; margin: 2px; border: none; border-radius: 5px;">
            <!--<img src="/img/search.png" width="30px" style="padding: 0px; margin: 0px;">-->
            <i class="fas fa-search" width="30px" ,
              style="padding: 0px; color:white; background-color: transparent; margin: 0px;"></i>
          </button>
          <button type="button" onclick="showAllBoxes(); rc.addUserLog(Date.now(), 'CLICK-SHOW-ALL-BUTTON\n');"
            width="30px"
            style="padding: 3px; background-color:palevioletred; margin: 2px; border: none; border-radius: 5px;">
            <i class="fas fa-backspace" width="30px" ,
              style="padding: 0px; color:white; background-color: transparent; margin: 0px;"></i>
          </button>
        </div>

        <!--Add buttons for trending keyword-->
        <div id="keywords-list" style="margin-top: 5px;">
          <p style="font-size:medium; display: inline-block; margin-bottom: 5px;"><strong>실시간 인기: </strong></p>
        </div>
      </div>
      <div id="messages" style="clear: both;"></div>


      <button id="scrollbtn" type="button"
        onclick="scrollDown(); rc.addUserLog(Date.now(), 'CLICK-SCROLL-DOWN-BUTTON\n');" width="80px"
        style="padding: 0px; margin: 0px; border: none; border-radius: 0px;">
        <img src="/img/scrolldownbtn.png" style="width: 100px;" style="padding: 0px; margin: 0px;">
      </button>

      <!-- <button type="button" onclick="openMap();" class="btn btn-warning btn-md shadow-none fw-bold"
        style="margin-top: 10px; margin-right: 10px; float: right;">
        지도 보기
      </button> -->
      <!-- <button id='subtask' type="button" disabled="disabled" onclick="openSubtask(); overlay_on();"
        class="btn btn-danger btn-md shadow-none" style="margin-top: 10px; margin-right: 30px; float: right;">
        설문 풀기
      </button> -->

      <script>
        let food_day1 = `<p style="text-align: center; font-weight: bold; font-size: large;">[음식점/카페]</p>
          <p class="placename">1. 명동거리</p>
          <p class="placename" style="width: 95%; font-size: small; border: 1px solid black; border-radius: 5px; margin: 5px 5px 10px 5px; padding: 5px 5px 5px 5px;">  - 이니스프리 그린카페<br>  - 오설록티하우스<br>  - 맷차<br>  - 명동교자<br>  - 홍만당<br>  - 명동 얼큰수제비<br>  - 곱창떡볶이 화떡<br>  - 명동피자<br>  - 유가네닭갈비<br>  - 미스사이공<br>  - 명동돈가스<br>  - 강남면옥</p>
          <p class="placename">2. 웨스틴조선호텔</p>
          <p class="placename" style="width: 95%; font-size: small; border: 1px solid black; border-radius: 5px; margin: 5px 5px 10px 5px; padding: 5px 5px 5px 5px;">  - 라운지앤바<br>  - 부르리카</p>
          <p class="placename">3. 신세계백화점 본점</p>
          <p class="placename" style="width: 95%; font-size: small; border: 1px solid black; border-radius: 5px; margin: 5px 5px 10px 5px; padding: 5px 5px 5px 5px;">  - 평양면옥<br>  - 큰기와집 한상<br>  - 한우리<br>  - 까사빠보<br></p>
          <p class="placename">4. 북창동 먹자골목</p>
          <p class="placename" style="width: 95%; font-size: small; border: 1px solid black; border-radius: 5px; margin: 5px 5px 10px 5px; padding: 5px 5px 5px 5px;">  - 진대감<br>  - 한가람<br>  - 마르셀<br>  - 화포식당<br>  - 정신라멘<br>  - 속초생태집<br></p>
          <p class="placename">5. 주옥</p>
          <p class="placename">6. 제로컴플렉스</p>`;

        let food_day2 = `<p style="text-align: center; font-weight: bold; font-size: large;">[음식점/카페]</p>
          <p class="placename">1. 롯데월드/롯데몰</p>
          <p class="placename" style="width: 95%; font-size: small; border: 1px solid black; border-radius: 5px; margin: 5px 5px 10px 5px; padding: 5px 5px 5px 5px;">  - 미즈컨테이너<br>  - 도림<br>  - 을밀대<br>  - 불고기브라더스<br>  - 별을품은곱창<br>  - 포숑<br>  - 키친205<br>  - 공차</p>
          <p class="placename">2. 올림픽공원</p>
          <p class="placename" style="width: 95%; font-size: small; border: 1px solid black; border-radius: 5px; margin: 5px 5px 10px 5px; padding: 5px 5px 5px 5px;">  - 청와옥<br>  - 화진포막국수<br>  - 한아람정육식당<br>  - 라미옥<br>  - 산들해<br>  - 별별성격카페</p>
          <p class="placename">3. 코엑스</p>
          <p class="placename" style="width: 95%; font-size: small; border: 1px solid black; border-radius: 5px; margin: 5px 5px 10px 5px; padding: 5px 5px 5px 5px;">  - 광화문미진<br>  - 고봉삼계탕<br>  - 인터컨티넨탈<br>  - 하동관<br>  - 바이킹스와프<br>  - 호우섬<br>  - 로네펠트티하우스<br>  - 베스킨라빈스</p>
          <p class="placename">4. 봉땅</p>
          `;

        let place_day1 = `<p style="text-align: center; font-weight: bold; font-size: large;">[관광지]</p>
          <p class="placename">1. 명동거리</p>
          <p class="placename" style="width: 95%; font-size: small; border: 1px solid black; border-radius: 5px; margin: 5px 5px 10px 5px; padding: 5px 5px 5px 5px;">  - 고관스튜디오<br>  - LU42<br>  - 국립근단 명동예술극장<br>  - 원더플레이스<br>  - 명동지하쇼핑센터<br></p>
          <p class="placename">2. 명동성당</p>
          <p class="placename">3. 신세계백화점 본점</p>
          <p class="placename">4. 남대문시장</p>
          <p class="placename">5. 숭례문</p>
          <p class="placename">6. 서울시립미술관</p>
          <p class="placename">7. 덕수궁</p>
          <p class="placename">8. 남산서울타워</p>
          <p class="placename">9. 남산골한옥마을</p>`;

        let place_day2 = `<p style="text-align: center; font-weight: bold; font-size: large;">[관광지]</p>
          <p class="placename">1. 롯데월드/롯데월드타워/롯데몰</p>
          <p class="placename" style="width: 95%; font-size: small; border: 1px solid black; border-radius: 5px; margin: 5px 5px 10px 5px; padding: 5px 5px 5px 5px;">  - 아이스링크<br>  - 매직아일랜드<br>  - 쇼핑 (롯데몰)<br>  - 대중음악박물관<br>  - 아쿠아리움<br>  - 롯데콘서트홀<br>  - 샤롯데씨어터</p>
          <p class="placename">2. 석촌호수</p>
          <p class="placename">3. 잠실한강공원</p>
          <p class="placename">4. 올림픽공원</p>
          <p class="placename" style="width: 95%; font-size: small; border: 1px solid black; border-radius: 5px; margin: 5px 5px 10px 5px; padding: 5px 5px 5px 5px;">  - 몽촌토성<br>  - 한성백제박물관<br>  - 올림픽홀<br>  - 들꽃마루<br>  - 소마미술관</p>
          <p class="placename">5. 코엑스</p>
          <p class="placename" style="width: 95%; font-size: small; border: 1px solid black; border-radius: 5px; margin: 5px 5px 10px 5px; padding: 5px 5px 5px 5px;">  - 메가박스<br>  - 별마당도서관<br>  - 쇼핑</p>
          `;

        function showMap(day, src) {
          let mapContent = document.getElementById('map-image');
          mapContent.src = src;

          let foodList = document.getElementById('foods-list');
          let placeList = document.getElementById('places-list');
          if (day === 'day1') {
            foodList.innerHTML = food_day1;
            placeList.innerHTML = place_day1;
            let btn1 = document.getElementById("map-1");
            let btn2 = document.getElementById("map-2");
            btn1.classList.remove('btn-outline-dark');
            btn1.classList.add('btn-dark');

            btn2.classList.remove('btn-dark');
            btn2.classList.add('btn-outline-dark');
          }
          else {
            foodList.innerHTML = food_day2;
            placeList.innerHTML = place_day2;
            let btn1 = document.getElementById("map-1");
            let btn2 = document.getElementById("map-2");
            btn2.classList.remove('btn-outline-dark');
            btn2.classList.add('btn-dark');

            btn1.classList.remove('btn-dark');
            btn1.classList.add('btn-outline-dark');
          }
        }
      </script>
  </body>

  <footer>
    <script>
      const room_id = "<%= room_id %>";
      const room_name = "<%= room_name%>";
      const user_name = "<%= user_name %>";
      const moderator_hostname = "<%= moderator_hostname %>";
      const moderator_port = "<%= moderator_port %>";
    </script>
    <script src="/js/conference.js"></script>
    <script src="/js/speech.js"></script>
    <script src="/js/transcript.js"></script>
    <!-- <script type="module" src="/js/transcript.js"></script> -->
  </footer>

</html>
